!!! 5
%html
%head
	%title Myinstagram
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 

%body
	-flash.each do |name, msg|
		= content_tag :div, msg, class: "alert alert-info"
	= yield

